img {
    display: block;
    margin-bottom: 35px;
}
/* .sideBar {
    position: relative;
    left: 97vw;
    top: -15%;
    
    bottom: 30px;
   
} */

.sideBar {
    position: fixed;
    /* width: 100px; */
    /* height: 100vh; */
    left: 96vw;
    top: 6vw;
    z-index: 1000;
    background-color: white;
}
